<html>
    <head>
        <title>Mohit's tab</title>
    </head>
    <body>
        <div>
            <h1><a href="/">GATE 2021</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">LECTURE TIMETABLE</a></h2>
            <p>here Iam going to conduct some lectures and seminars which is adjusted acoording to SCOE's schedule so that students don't miss their college.</p>
        </div>

        <div>
          
            <p>Thats it aur kya chahi tumka</p>
        </div>
    </body>
</html>
